@charset "UTF-8";

*,
*::after,
*::before {
  box-sizing: border-box;
}
html {
  margin: 0;
  padding: 0;
}
.inner {
  width: 980px;
  margin: 0 auto;
}
a { 
  text-decoration: none; 
  transition: all .6s ease;
}

a:hover { 
  transition: all .6s ease;
}
body {
  width: 1280px;
  margin: 0;
  padding: 0;
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体",
    "Helvetica Neue";
  font-weight: 500;
  color: #333;

  main {
    .main-top-wrappar {
      .main-top-mv {
        .top-image {
          img {
            width: 1280px;
            height: 854px;
            position: relative;
          }
        }
        .top-heading {
          display: flex;
          justify-content: center;
          h2 {
            position: absolute;
            top: 150px;
            margin: 0;
            line-height: 1.4;

            font-size: 90px;
            color: #ffffff;
            font-weight: bold;
            text-align: center;
          }
        }
        .top-btn {
          display: flex;
          justify-content: center;
          a {
            position: absolute;
            top: 565px;
            color: #ffffff;
            font-size: 30px;
            border: 2px solid;
            width: 127px;
            height: 49px;
            text-decoration: none;
            text-align: center;
            line-height: 1.4;
          }
        }
      }
    }
    .content-wrapper {
      margin-top: 150px;
      .content1 {
        margin-bottom: 183px;
        .content1-heading {
          display: flex;
          justify-content: center;
          h2 {
            width: 400px;
            font-size: 46px;
            font-weight: bold;
            text-align: center;
            margin: 0;
            border-bottom: 3px solid #333;
            line-height: 2;
          }
        }
        .content1-article {
          margin-top: 100px;
          display: flex;
          position: relative;

          .content1-article-img {
            img {
              width: 734px;
              height: 494px;
            }
          }
          .content1-article-text {
            position: absolute;
            left: 65%;

            .content1-article-text-p1,
            .content1-article-text-p2,
            .content1-article-text-p3,
            .content1-article-text-p4 {
              p {
                font-size: 16px;
                font-weight: bold;
                line-height: 1.5;
                margin-top: 0;
                margin-bottom: 40px;
              }
            }
            .content1-article-text-p4 {
              margin-bottom: 53px;
            }

            .content1-article-text-btn {
              a {
                color: #333333;
                text-decoration: none;
                font-weight: bold;
                text-align: center;
                box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.161);
                border: 2px solid #333333;
                opacity: 1;
                padding: 13px 45px;
              }
            }
          }
        }
      }
      .content2 {
        .inner {
          .cards {
            display: flex;
            justify-content: space-around;
            .card {
              position: relative;
              .card-bg {
                img {
                  width: 480px;
                  height: 500px;
                }
              }
              .card-main {
                position: absolute;
                top: 85px;
                left: 120px;
                width: 240px;
                height: 330px;
                background-color: #fff;
                opacity: 0.7;
                text-align: center;
                .card-icon {
                  img {
                    margin-top: 21px;
                    width: 49px;
                    height: 49px;
                  }
                }
                .card-h3 {
                  h3 {
                    font-size: 26px;
                    margin: 0;
                    margin-top: 10px;
                    position: relative;
                    display: inline-block;
                    &:before {
                      content: "";
                      position: absolute;
                      left: 50%;
                      bottom: -17.5px; /*線の上下位置*/
                      display: inline-block;
                      width: 50px; /*線の長さ*/
                      height: 3px; /*線の太さ*/
                      -webkit-transform: translateX(-50%);
                      transform: translateX(-50%); /*位置調整*/
                      background-color: #333;
                    }
                  }
                }

                .card-p {
                  display: flex;
                  justify-content: center;
                  p {
                    margin: 0;
                    padding-top: 45px;
                    font-size: 16px;
                    width: 182px;
                    height: 131px;
                    margin: 0;
                    line-height: 1.5;
                    text-align: left;
                  }
                }
              }
            }
          }
        }
      }
      .content3 {
        position: relative;
        margin-top: 150px;

        .content3-img {
          img {
            width: 1280px;
            height: 809px;
          }
        }
        .content3-h3 {
          position: absolute;
          top: 172px;
          left: 17.5%;

          h3 {
            margin: 0;
            font-size: 32px;
            color: #ffffff;
          }
        }
        .content3-text {
          position: absolute;
          top: 274px;
          left: 17.5%;
          color: #ffffff;
          display: flex;
          flex-direction: column;
          .content3-text-p {
            font-weight: bold;
            line-height: 1.5;
            letter-spacing: normal;
            font-size: 20px;
          }
        }
      }
      .content4 {
        .inner {
          position: relative;
          .box-layout1 {
            background-color: #013b74;
            margin: 220px 0;
            width: 910px;
            height: 506px;
            .textbox1 {
              position: relative;
              &::after {
                content: "";
                background-image: url(../img/s-5.png);
                width: 450px;
                height: 450px;
                z-index: 1;
                position: absolute;
                top: -70px;
                right: -70px;
              }
              .text1 {
                position: absolute;
                left: 70px;
                top: 90px;
                p {
                  margin-top: 0;
                  margin-bottom: 50px;
                  color: #ffffff;
                  font-weight: bold;
                  line-height: 2;
                }
                .btn {
                  a {
                    margin: 50px 0;
                    color: #ffffff;
                    text-decoration: none;
                    border: 2px solid #ffffff;
                    padding: 15px 50px;
                  }
                }
              }
            }
          }
          .box-layout2 {
            position: absolute;
            right: 0;
            background-color: #013b74;
            width: 910px;
            height: 506px;
            .textbox2 {
              position: relative;
          
              &::after {
                content: "";
                background-image: url(../img/s-6.png);
                width: 450px;
                height: 450px;
                object-fit: cover;
                z-index: 1;
                position: absolute;
                top: -70px;
                left: -70px;
              }
              .text2 {
                position: absolute;
                right: 80px;
                top: 90px;
                p {
                  margin-top: 0;
                  margin-bottom: 50px;
                  color: #ffffff;
                  font-weight: bold;
                  line-height: 2;
                }
                .btn {
                  position: relative;
                  a {
                    position: absolute;
                    right: 0;
                    bottom: -100px;
                    margin: 50px 0;
                    color: #ffffff;
                    text-decoration: none;
                    border: 2px solid #ffffff;
                    padding: 15px 50px;
                  }
                }
              }
            }
          }
        }
      }
      
      .content5 {
        .inner {
          display: flex;

          .content5-thumb {
            width: 908px;
            height: 504px;
            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.161);
            .content5-thumb-img {
              img {
                width: 320px;
                height: 229px;
              }
            }
            .content5-thumb-text {
              .content5-thumb-text-h4 {
                font-size: 16px;
                border-bottom: 3px solid #013b74;
              }
              .content5-thumb-text-p {
                p {
                  font-size: 16px;
                  font-weight: bold;
                }
              }
              .content5-thumb-text-more {
                a {
                  color: #013b74;
                  text-decoration: none;
                  border: 2px solid #013b74;
                }
              }
            }
          }
        }
      }
    }
  }
}

footer {
  .footer {
    background-color: #5f5e5e;
    .footer-icon {
      display: flex;
      justify-content: center;
      padding-top: 25px;

      img {
        width: 30px;
        height: 30px;
      }
    }
    .copyright {
      color: #ffffff;
      padding: 25px;
      text-align: center;
    }
  }
}
