@charset "UTF-8";
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

.inner {
  width: 980px;
  margin: 0 auto;
}

body {
  width: 1280px;
  margin: 0;
  padding: 0;
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "Helvetica Neue";
  font-weight: 500;
  color: #333;
}

body main .main-top-wrappar .main-top-mv .top-image img {
  width: 1280px;
  height: 854px;
  position: relative;
}

body main .main-top-wrappar .main-top-mv .top-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body main .main-top-wrappar .main-top-mv .top-heading h2 {
  position: absolute;
  top: 150px;
  margin: 0;
  line-height: 1.4;
  font-size: 90px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
}

body main .main-top-wrappar .main-top-mv .top-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body main .main-top-wrappar .main-top-mv .top-btn a {
  position: absolute;
  top: 565px;
  color: #ffffff;
  font-size: 30px;
  border: 2px solid;
  width: 127px;
  height: 49px;
  text-decoration: none;
  text-align: center;
  line-height: 1.4;
}

body main .content-wrapper {
  margin-top: 150px;
}

body main .content-wrapper .content1 .content1-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body main .content-wrapper .content1 .content1-heading h2 {
  width: 400px;
  font-size: 46px;
  font-weight: bold;
  text-align: center;
  margin: 0;
  border-bottom: 3px solid #333;
  line-height: 2;
}

body main .content-wrapper .content1 .content1-article {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body main .content-wrapper .content1 .content1-article .content1-article-img img {
  width: 734px;
  height: 494px;
}

body main .content-wrapper .content1 .content1-article .content1-article-text .content1-article-text-btn a {
  color: #333333;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.161);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.161);
  border: 2px solid #333333;
  opacity: 1;
}

body main .content-wrapper .content2 .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body main .content-wrapper .content2 .inner .card .card-icon img {
  width: 49px;
  height: 49px;
}

body main .content-wrapper .content2 .inner .card .card-p {
  width: 182px;
}

body main .content-wrapper .content3 {
  position: relative;
}

body main .content-wrapper .content3 .content3-img img {
  width: 1280px;
  height: 809px;
}

body main .content-wrapper .content3 .content3-h3 {
  position: absolute;
  top: 172px;
  left: 17.5%;
}

body main .content-wrapper .content3 .content3-h3 h3 {
  margin: 0;
  font-size: 32px;
  color: #ffffff;
}

body main .content-wrapper .content3 .content3-text {
  position: absolute;
  top: 274px;
  left: 17.5%;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body main .content-wrapper .content3 .content3-text .content3-text-p {
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: normal;
  font-size: 20px;
}

body main .content-wrapper .content4 .inner .content4-group {
  margin: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #013b74;
}

body main .content-wrapper .content4 .inner .content4-group .content4-group-img .content4-group-img-1 img,
body main .content-wrapper .content4 .inner .content4-group .content4-group-img .content4-group-img-2 img {
  width: 450px;
  height: 450px;
}

body main .content-wrapper .content4 .inner .content4-group .content4-group-text {
  color: #ffffff;
}

body main .content-wrapper .content4 .inner .content4-group .content4-group-text .content4-group-text-btn a {
  text-decoration: none;
  color: #ffffff;
  border: 2px solid;
}

body main .content-wrapper .content5 .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body main .content-wrapper .content5 .inner .content5-thumb {
  width: 908px;
  height: 504px;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.161);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.161);
}

body main .content-wrapper .content5 .inner .content5-thumb .content5-thumb-img img {
  width: 320px;
  height: 229px;
}

body main .content-wrapper .content5 .inner .content5-thumb .content5-thumb-text .content5-thumb-text-h4 {
  font-size: 16px;
  border-bottom: 3px solid #013b74;
}

body main .content-wrapper .content5 .inner .content5-thumb .content5-thumb-text .content5-thumb-text-p p {
  font-size: 16px;
  font-weight: bold;
}

body main .content-wrapper .content5 .inner .content5-thumb .content5-thumb-text .content5-thumb-text-more a {
  color: #013b74;
  text-decoration: none;
  border: 2px solid #013b74;
}

footer .footer {
  background-color: #5f5e5e;
}

footer .footer .footer-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 25px;
}

footer .footer .footer-icon img {
  width: 30px;
  height: 30px;
}

footer .footer .copyright {
  color: #ffffff;
  padding: 25px;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */